%link {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

%btn{
  @extend %link;
  background: transparent;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
