/*
----------------------------------------
                Colors
----------------------------------------
*/

$bg-color: #f5f5f5;
$font-color: #0d0d0d;

$color-primary: #2964f9;
$color-secondary: #00d5f7;
$color-accent: #f06c22;
$color-danger: #f37173;

$color-white: #fff;
$color-black: #000;

/*
----------------------------------------
                Padding
----------------------------------------
*/
$padding-app: 5vh 10vw;
